# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Packaging
build/
dist/
*.egg-info/

# Tests & coverage
.pytest_cache/
.coverage*
htmlcov/
.tox/

# Editors/IDE
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Notebooks
.ipynb_checkpoints/

# Secrets / env
.env
*.env

# Logs
*.log
